$textOverlay: #e6e3e396;
$backgroundOverlay: #2a3b40;
$backgroundOverlay2: #d4d8d9;
$colorTextTitle1: #304751;
$colorTextTitle2: #ad6c12;
$colorHover: #fed136;
$primary-fonts: 'Raleway';
$primary-fontsBold: 'Raleway Bold';
$secondary-fonts: 'Cookie Regular';
